body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.box-red{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #f00;
}

.box-red:hover{
    background-color: #ff0;
}