div{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: relative;
}

@keyframes exemple{
    to{
        left: 0;
    }

    from{
        left: calc(100% - 100px);
    }
}