div{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: relative;
    animation-name: exemple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white;
}

.linear{
    animation-timing-function: linear;
}

.ease{
    animation-timing-function: ease;
}

.ease-in{
    animation-timing-function: ease-in;
}

.ease-out{
    animation-timing-function: ease-out;
}

@keyframes exemple{
    from{
        left: 0;
    }

    to{
        left: calc(100% - 100px);
    }
}